
img{
    display: block;
    margin-right: auto;
    border-radius: 50%;

}
#parrafo {
    text-align: center;
         }
#descripcion {
    text-align: center;
 }
body{
    background-image: url(https://cdn.wallpapersafari.com/61/30/5G9H4T.jpg);
    background-size: 2000px 1430px;
  }
h3{color: white;}
ul{color: white;}

section {
  background-color: orange;
display: flex;
flex-direction: row;
}
.btn btn-primary{
  color: black;
}

